extends layout

block content
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')
        link(rel='StyleSheet' href='css/form.css' type='text/css')
        meta(charset='utf-8')
    body
        header
            nav
                ul
                    li
                        a(href='/') Home
                    li |
                    li
                        a(href='#') Blog
            a.register(href='#') Register
        main
            section#intro-text
                span Simple Kitchen
                h3
                    | Simple &amp; Comforting 
                    br
                    |             Recipes All Year Round
            section#intro-register
                h3 Register to subscribe
                
                -data = data || {}
                if errors
                    ul
                        for error in errors
                            li= error.msg

                form(action="./" method="POST" class="form-registration")
                    label(for="name") Name:
                    input(
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        value=data.name
                    )

                    label(for="email") Email:
                    input(
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        value=data.email
                    )

                    label(for="username") Username:
                    input(
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        value=data.username
                    )
                    
                    label(for="password") Password:
                    input(
                        type="text"
                        id="password"
                        name="password"
                        class="form-control"
                        value=data.password
                    )
                    button(type="submit" value="Register") Register
        footer
            | &copy; Copyright 2021